<!DOCTYPE html>

<html>
    <head>
        <title>HostedCheckout Redirect</title>
    </head>

    <body>
        <div style="display:none;">
            <form method="post" action="https://hc.mercurydev.net/Checkout.aspx" name="paymentIdForm">
                <input type="hidden" name="PaymentId" value="<%= PaymentId %>">
                <input type="submit" value="submit" name="submitbtn" border="0">
            </form>
        </div>
        <script>
            window.onload = function(){
                document.forms['paymentIdForm'].submit()
            }
        </script>
    </body>
</html>