
h1 {
    color: white;
    font-family: 'Yellowtail', cursive;
    font-size: 60px;
    margin: 0;
}

h2 {
    color: white;
    font-size: 24px;
}

body {
    margin-bottom: 120px;
    font-size: 24px;

}

.absolute-center {
    margin: auto;
    position: absolute;
    /* top: 0; */
    /* left: 0; */
    bottom: 0;
    right: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: auto;
    text-align: center;
}

.bill-left {
    float: left;
}

.bill-right {
    float: right;
}

.btn-split {
    background-color: rgb(247, 225, 117);
    padding: 6px 28px;
}

.card {
    border-radius: 6px;
    background-color: white;
    color: #701314;
    padding: 10px;
    display: inline-block;
    width: 90%;
}
.container {
    text-align: center;
}

.dish-name {
    float: left;
}

.footer {
    position: absolute;
    height: 120px;
    background-color: white;
    color: black;
    bottom: 0;
    width: 100%;
    padding: 10px;
}

.footer-subtotal {
    height: 120px;
    color: black;
    bottom: 120px;
    width: 100%;
    padding: 10px;
}
.gradient {
    background-image:
    linear-gradient(
            #701314 50%, #560f10
    );
}

.logo {
    padding: 50px 0;
    width: 200px;
}

.menu-img {
    float: left;
    width: 30%;
    margin: 10px 0;
    clear: both;
}

.menu-people {
    float: right;
    width: 65%;
    margin: 10px 0px;
}


.menu-people-name {
    float: left;
}
.price {
    float: right;
    font-size: 24px;

}

.total {
    float: left;
}


.total-person {
    float: right;
}

.total-person>ul {
    list-style: none;
}

.total-person-amount {
    float: right;
    margin-left: 10px;
}


/****** TOGGLE SWTICH *****/

.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #FFFFFF; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Yum!";
    padding-left: 10px;
    background-color: #560F10; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "Nope";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    border: 2px solid #FFFFFF; border-radius: 20px;
    position: absolute; top: 0; bottom: 0; right: 56px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

/****** END TOGGLE SWTICH *****/
